<%=form_with scope: :session, url: login_path, method: 'post', local: true do |f| %>
  <%=f.label :email%>
  <%=f.text_field :email%>
  <%=f.label :password%>
  <%=f.password_field :password%>
  <%=f.submit%>
<% end %>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
