<% @user.projects.order(created_at: :desc).each do |project| %>
  <div class="item">
    <% if current_user.id == @user.id %>
    <div class="content right floated">
      <div class="ui dropdown">
        <i class="ellipsis vertical floated right grey icon"></i>
        <div class="menu">
          <%=link_to "Edit Project", edit_user_project_path(@user.id, project.id), class: 'item'%>
          <%=link_to "Delete Project", user_project_path(@user.id, project.id), method: 'delete', class:'item', data: {confirm: 'Are you sure you want to delete this project?'}%>
        </div>
      </div>
    </div>
    <% end %>
    <% if project.photo_url.present? %>
    <%=image_tag(project.photo_url, class: 'ui image avatar')%>
    <% else %>
    <i class="images large middle aligned grey icon"></i>
    <% end %>
    <div class="content">
      <%=link_to "#{project.title}", user_project_path(@user.id, project.id), class: 'header'%>
      <% if project.description.present? %>
        <div class="description"><%= sanitize project.description%></div>
      <% else %>
        <div class="description">No project description.</div>
      <% end %>
      <div class="description" style="font-size: 0.7em;">
        <%=local_time_ago(project.created_at)%>
      </div>
    </div>
  </div>
<% end %>
<% if current_user.id == @user.id && current_user.projects.empty?%>
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="plus grey icon"></i>
      You have no projects. Create one.
    </div>
    <%=link_to "Create a Project", new_user_project_path(@user.id), class:'ui teal button'%>
  </div>
<% end %>
