<% if @user.projects.present? %>
  <div class="ui icon fluid input">
    <input type="text" placeholder="Search for Project..">
    <i class="search icon"></i>
  </div>
  <div class="ui secondary pointing two item menu">
    <%= link_to "Projects", self_projects_path(@user.id), class: 'item active user-projects-btn', remote:true%>
    <%= link_to "Liked", liked_projects_path(@user.id), class: 'item liked-projects-btn', remote:true%>
  </div>
  <div class="ui middle aligned very relaxed divided list projects-list">
    <%= render 'users/projects' %>
  </div>
<% else %>
<div class="ui secondary pointing two item menu">
  <%= link_to "Projects", self_projects_path(@user.id), class: 'item active user-projects-btn', remote:true%>
  <%= link_to "Liked", liked_projects_path(@user.id), class: 'item liked-projects-btn', remote:true%>
</div>
<div class="ui middle aligned very relaxed divided list projects-list">
  <%= render 'users/projects' %>
</div>
<% end %>
