<div class="ui container text">
  <div class="ui header teal">Edit Profile.</div>
  <div class="ui grid">
    <div class="two column row">
      <div class="column">
        <%=form_with scope: :user, url: user_path(@user.id), method: 'patch', local: true, class: 'ui form' do |f| %>
          <div class="field">
            <%=f.label "Upload Photo"%>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
            <%= f.submit "Upload", class: 'ui teal tiny button', style:'margin-top: 1em;'%>
          </div>
        <% end %>
      </div>
      <div class="column">
        <%=image_tag(@user.avatar_url, class: 'ui right floated tiny image circular')%>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <%=form_with scope: :user, url: user_path(@user.id), method: 'patch', local: true, class: 'ui form' do |f| %>
    <div class="field">
      <%=f.label "Name"%>
      <div class="two fields">
        <div class="field">
          <%=f.text_field :first_name, placeholder: 'First Name'%>
        </div>
        <div class="field">
          <%=f.text_field :last_name, placeholder: 'Last Name'%>
        </div>
      </div>
    </div>
    <div class="field">
      <%=f.label "About"%>
      <%=f.text_area :about, rows: 6 %>
    </div>
    <div class="field">
      <%=f.label "Location"%>
      <%=f.text_field :location%>
    </div>
    <%=f.submit "Save Profile", class: 'ui teal button'%>
    <%=link_to "Back to Profile", user_path(@user.id), class: 'ui button'%>
  <% end %>
  <div class="ui divider hidden"></div>
  <div class="ui divider"></div>
  <div class="ui header teal">Account Settings.</div>
  <div class="ui grid two column">
    <div class="column">
      <div class="ui form">
        <div class="fields">
          <div class="inline field">
            <label>Email Address:</label>
            <input placeholder="<%=@user.email%>" readonly="" type="text">
          </div>
        </div>
        <div class="field change-email-window">
          <div class="divider ui"></div>
          <%=form_with( scope: :user, url: user_update_email_path(@user.id), method: 'patch', local: true, id:'change_email_form', class: 'ui form') do |f| %>
            <div class="field">
              <%=f.label 'Current Email:'%>
              <%=f.text_field :current_email, required: true%>
            </div>
            <div class="field">
              <%=f.label 'New Email:'%>
              <%=f.text_field :new_email, required: true%>
            </div>
            <div class="field">
              <%=f.label 'Enter password:'%>
              <%=f.password_field :password, required: true%>
            </div>
            <%= f.submit 'Apply', class: 'ui teal button' %>
          <% end %>
          <div class="divider ui"></div>
        </div>
      </div>
    </div>
    <div class="column">
      <a class="ui button" id="change-email" href="#">Change Email</a>
    </div>
  </div>
  <div class="ui grid two column">
    <div class="column">
      <div class="ui form">
        <div class="fields">
          <div class="inline field">
            <label>Password:</label>
            <input placeholder="*********" readonly="" type="password">
          </div>
        </div>
        <div class="field change-password-window">
          <div class="divider ui"></div>
          <%=form_with( scope: :user, url: user_update_password_path(@user.id), method: 'patch', local: true, id:'change_email_form', class: 'ui form') do |f| %>
            <div class="field">
              <%=f.label 'Current Password:'%>
              <%=f.password_field :current_password, required: true%>
            </div>
            <div class="field">
              <%=f.label 'New Password:'%>
              <%=f.password_field :new_password, required: true%>
            </div>
            <div class="field">
              <%=f.label 'Confirm new password:'%>
              <%=f.password_field :confirm_password, required: true%>
            </div>
            <%= f.submit 'Apply', class: 'ui teal button' %>
          <% end %>
          <div class="divider ui"></div>
        </div>
      </div>
    </div>
    <div class="column">
      <a class="ui button" id="change-password" href="">Change Password</a>
    </div>
  </div>
</div>
