<div class="ui container text">
  <div class="ui header teal">Edit Profile.</div>
  <div class="ui grid">
    <div class="two column row">
      <div class="column">
        <%=form_with scope: :user, url: user_path(@user.id), method: 'patch', local: true, class: 'ui form' do |f| %>
          <div class="field">
            <%=f.label "Upload Photo"%>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
            <%= f.submit "Upload", class: 'ui teal tiny button', style:'margin-top: 1em;'%>
          </div>
        <% end %>
      </div>
      <div class="column">
        <%=image_tag(@user.avatar_url, class: 'ui right floated tiny image circular')%>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <%=form_with scope: :user, url: user_path(@user.id), method: 'patch', local: true, class: 'ui form' do |f| %>
    <div class="field">
      <%=f.label "Name"%>
      <div class="two fields">
        <div class="field">
          <%=f.text_field :first_name, placeholder: 'First Name'%>
        </div>
        <div class="field">
          <%=f.text_field :last_name, placeholder: 'Last Name'%>
        </div>
      </div>
    </div>
    <div class="field">
      <%=f.label "About"%>
      <%=f.text_area :about, rows: 6 %>
    </div>
    <div class="field">
      <%=f.label "Location"%>
      <%=f.text_field :location%>
    </div>
    <%=f.submit "Save Profile", class: 'ui teal button'%>
    <%=link_to "Back to Profile", user_path(@user.id), class: 'ui button'%>
  <% end %>
  <div class="ui divider hidden"></div>
  <div class="ui divider"></div>
  <div class="ui header teal">Account Settings.</div>
  <% if Authentication.find_by(user_id: @user.id).present? %>
    <h5 class="ui header grey">
      We have detected that you signed in via your Google Account. You may continue signing in via Google, without having to worry about changing your account details here.
      Have a good day!
    </h5>
  <% else %>
    <%= render 'users/form_account_setting' %>
  <% end %>
</div>
