<div class="ui container text">
  <div class="ui grid">
    <div class="two column row">
      <div class="column">
        <h1 class="header">
          <%= display_name(@user) %>
        </h1>
        <div class="ui grid">
          <div class="two column row">
            <div class="column">
              <h4 class="header">
                Followers: <%= @user.followers.count %>
              </h4>
            </div>
            <div class="column">
              <h4 class="header">
                Following: <%= @user.following.count %>
              </h4>
            </div>
          </div>
        </div>
        <%= user_profile(@user) %>
        <p style="font-size: 0.7em;">A User since <%=local_time_ago(@user.created_at)%></p>
        <p><%=@user.location%></p>
        <p><%=@user.about%></p>
      </div>
      <div class="column">
        <%=image_tag(@user.avatar_url, class: 'ui right floated small circular image')%>
      </div>
    </div>
  </div>
</div>
<div class="ui container text" style="margin-top:1em;">
  <%= projects_tab(@user) %>
</div>
