<%=form_with scope: :user, url: signup_path, method: 'post', local: true, class: 'ui form' do |f| %>
  <div class="field">
    <%=f.label :email %>
    <%=f.text_field :email, placeholder: 'user@example.com' %>
  </div>
  <div class="field">
    <%=f.label :password %>
    <%=f.password_field :password %>
    <p style="color:#ccc;">Password must contain more than 8 characters.</p>
  </div>
  <div class="field">
    <%=f.label :password_confirmation %>
    <%=f.password_field :password_confirmation %>
  </div>
  <%=f.submit "Create Account", class: 'ui teal button'%>
<% end %>
