<%=form_with( scope: :user, url: user_update_password_path(@user.id), method: 'patch', local: true, id:'change_email_form', class: 'ui form') do |f| %>
  <div class="field">
    <%=f.label 'Current Password:'%>
    <%=f.password_field :current_password, required: true%>
  </div>
  <div class="field">
    <%=f.label 'New Password:'%>
    <%=f.password_field :new_password, required: true%>
  </div>
  <div class="field">
    <%=f.label 'Confirm new password:'%>
    <%=f.password_field :confirm_password, required: true%>
  </div>
  <%= f.submit 'Apply', class: 'ui teal button' %>
<% end %>
