<div class="ui teal inverted small secondary menu">
  <div class="ui container">
    <%=link_to "Thoughtlog", root_path, class:'header item'%>
    <div class="left menu">
      <div class="item">
        <%= form_for :search_projects, url: search_projects_path, method: :get do |form| %>
          <div class="ui icon input" style="width:40vw;">
            <%= form.text_field :query, value: params[:search_projects].presence && params[:search_projects][:query], placeholder: 'Search for Projects, Ideas or anything...' %>
            <i class="search icon"></i>
          </div>
        <% end %>
      </div>
    </div>
    <div class="right menu">
      <%= link_to 'Home',root_path, class: 'item'%>
      <%= link_to 'Following', following_project_path, class: 'item'%>
        <div class="ui dropdown item">

          <%= image_tag(current_user.avatar_url, class: 'ui avatar image') %>
          <div class="menu">
            <%=link_to "My Profile", user_path(current_user.id), class:'item'%>
            <%=link_to "Account Settings", edit_user_path(current_user.id), class:'item'%>
            <%=link_to 'Logout', logout_path, method: 'delete', class: 'item' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
