<% @tagged.each do |tag|%>
  <div class="grid-item">
    <div class="ui card">
      <% if tag['photos'].present? %>
      <div class="image">
        <%=image_tag('imageplaceholder.png', data: {src: tag['photos'][0]['original_size']['url']})%>
      </div>
      <% end %>
      <div class="content">
        <%= link_to "#{sanitize tag['blog']['title']}", tumblr_path(tag['blog_name'], tag['id']), class: 'header' %>
        <div class="description">
          <%=sanitize tag['summary']%>
        </div>
        <br/>
        <button class="ui disabled mini button">
          <i class="external alternate icon"></i>
          Tumblr
        </button>
      </div>
      <div class="extra content">
        <%=link_to tag['short_url'] do %>
          <i class="user icon"></i>
          <%=tag['blog_name']%>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
