<% if signed_in? %>
  <div class="ui container">
    <div class="projects-grid">
      <div class="grid-sizer"></div>
      <% @projects.each do |project|%>
        <div class="grid-item">
          <div class="ui card">
            <% if project.photo_url.present?%>
              <div class="image">
                <%=image_tag('imageplaceholder.png', data: {src: project.photo_url})%>
              </div>
            <% end %>
            <div class="content">
              <%=link_to "#{project.title}", user_project_path(project.user.id, project.id), class: 'header'%>
              <div class="description">
                <%=sanitize project.description%>
              </div>
            </div>
            <div class="extra content">
              <%=link_to user_path(project.user.id) do %>
                <i class="user icon"></i>
                <%=project.user.name%>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
