<div class="ui divider hidden"></div>
<div class="ui header">Users found: <%=@users.count%></div>
<div class="ui divider"></div>
<div class="ui four column stackable grid">
  <%= render 'home/index/home/search_user' %>
</div>
<div class="ui header">
  <div class="content">
    Search results: <%=@count%>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui three column doubling stackable masonry grid">
  <%= render 'home/index/home/search_projects_timeline'%>
  <%= render 'home/index/home/tumblr_timeline' %>
  <%= render 'home/index/home/flickr_timeline' %>
</div>
