<div class="ui container text" style="padding-bottom: 3em;">
  <div class="ui fluid card">
    <div class="content">
      <div class="content">
        <i class="ellipsis grey horizontal icon"></i>
      </div>
      <div class="ui divider hidden"></div>
      <span class="right floated">
        <%=link_to "#{@user.name}", user_path(@user.id)%>
        <%=image_tag(@user.avatar_url, class: 'ui image avatar')%>
      </span>
      <div class="left floated">
        <h1 class="header"><%=@project.title%> </h1>
      </div>
    </div>
    <%= show_project_photo(@project) %>
    <div class="content">
      <div class="ui header tiny grey">
        Created <%=local_time_ago(@project.created_at.strftime('%b %e, %l:%M %p'))%>.
      </div>
      <p class="description"><%=sanitize @project.description%></p>
        <%= like_button(@user, @project) %>
    </div>
  </div>
  <div class="ui fluid card">
    <%= new_thought(@user) %>
    <div class="thoughts-timeline content">
      <%= timeline(@project) %>
    </div>
  </div>
</div>
