<div class="ui container text">
  <div class="ui fluid card">
    <div class="content">
      <div class="content">
        <i class="ellipsis grey horizontal icon"></i>
      </div>
      <div class="ui divider hidden"></div>
      <span class="right floated">
        <%=link_to "#{@user.name}", user_path(@user.id)%>
        <%=image_tag(@user.avatar_url, class: 'ui image avatar')%>
      </span>
      <div class="left floated">
        <h1 class="header"><%=@project.title%> </h1>
      </div>
    </div>
    <% if @project.photo.present?%>
    <div class="image" style='margin:1em;'>
      <%=image_tag(@project.photo_url, class:'ui image rounded')%>
    </div>
    <% end %>
    <div class="content">
      <p class="description"><%=sanitize @project.description%></p>
    </div>
  </div>
  <div class="ui fluid card">
    <% if current_user.id == @user.id %>
      <div class="content">
        <%=form_with(scope: :thought, url: user_project_thoughts_path(@user.id, @project.id), method: 'post', id:'thought_form', class: 'ui form') do |f| %>
          <div class="inline field">
            <%=f.text_area :content, placeholder: "Add a thought", rows: 2%>
            <br/>
            <br/>
            <%=f.submit "Send", class: 'ui button'%>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="thoughts-timeline content">
      <%= render 'thoughts/timeline' %>
    </div>
  </div>
</div>
