<% @projects.each do |project|%>
  <div class="column">
    <div class="ui card">
      <%= project_photo(project.photo_url) %>
      <div class="content">
        <%=link_to "#{project.title}", user_project_path(project.user.id, project.id), class: 'header'%>
        <%= project_thoughts(project) %>
        <div class="description">
          <%=sanitize project.description%>
        </div>
      </div>
      <div class="extra content">
        <%= project_owner_name(project) %>
      </div>
    </div>
  </div>
<% end %>
