<!DOCTYPE html>
<html>
  <head>
    <title>Thoughtlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  </head>

  <body>
    <% if signed_in? %>
    <%= render 'shared/user_navbar'%>
    <% else %>
    <%= render 'shared/visitor_navbar'%>
    <% end %>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> closable">
        <i class="close icon"></i>
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
    <script>
      $('.ui.dropdown')
      .dropdown()
      ;

      $('.projects-grid').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.grid-item',
        // use element for option
        columnWidth: '.grid-sizer',
        gutter: 20,
        horizontalOrder: true,
        percentPosition: true
      })
    </script>
  </body>
</html>
